.item {
    padding: 10px 5px;
    border-bottom: 1px solid #00000034;
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;


    h3 {
        font-weight: 500;
        font-size: 25px;
    }

    button {
        margin-left: auto;
    }
}

.doneItem {
    h3 {
        text-decoration: line-through;
    }
}